* {
	box-sizing: border-box;
}


body {
	font-family: "Montserrat", sans-serif;
	margin: 0 auto;
	background-color: white;
}

html, body {
    overflow-x: hidden;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 207px;
}

.main {
	margin-top: 207px;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

.header-wrapper {
	display: flex;
	align-items: center;
	max-width: 2440px;
	width: 100%;
	justify-content: center;
}

.header-logo {
	margin: 60px 120px 60px 160px;
}

.nav-list {
	padding: 0;
	list-style: none;
	display: flex;
	gap: 15px;
	max-width: 775px;
	align-items: center;
}

.nav-item {
	min-width: fit-content;
}

.nav-item:first-child {
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.05em;
	color: #D1A954;
	padding: 6px 9px;
	border: 1px solid #D1A954;
}

.nav-item:nth-child(2) {
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.05em;
	color: #D1A954;
}

.nav-item:nth-child(3-6) {
	font-weight: 300;
}


.burger {
	margin-right: 205px;
	margin-left: 165px;
	/* justify-self: end; */
}

.nav-item {
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.05em;
}

.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider-items {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.slider-scroll {
	margin-top: 60px;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.about-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 411px;
	margin-top: 120px;
	color: #222222;
}

.about-title {
	font-weight: 300;
	font-size: 36px;
	line-height: 145%;
	margin: 0 auto;
}

.logo-title {
	font-weight: 300;
	font-size: 9px;
	line-height: 11px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.about-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 767px;
	width: 100%;
	background-color: #F9F7F7;
}

.about-description .container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-description_image {
	max-width: 920px;
	max-height: 479px;
	margin-bottom: 90px;
	margin-top: -240px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.video-button {
	position: absolute;
	top: 46%;
	left: 46%;
}

.about-description_content {
	display: flex;
	justify-content: center;
	align-items: end;
}

.description-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 33px;
	flex: 1;
	max-width: 425px;
	margin-right: 65px;
	margin-left: 60px;
}

.description-main img {
	width: 202px;
	height: 110px;
}

.description-main_content,
.description-goods_item p {
	font-weight: 300;
	font-size: 14px;
	line-height: 135%;
	color: #616161;
}

.description-goods {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.description-goods_item {
	position: relative;
	max-width: 255px;
	align-items: flex-end;
}

.description-goods_item span {
	font-weight: 300;
	color: black;
	font-size: 16px;
	line-height: 135%;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	margin-left: 26px;
	margin-bottom: 20px;
}

.gallery {
	margin-top: 120px;
	margin-bottom: 150px;
}

.gallery-first-part {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.gallery-intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 113px;
	height: 101px;
	margin-left: 30px;
}

.gallery-intro h1 {
	font-weight: 300;
	font-size: 24px;
	line-height: 135%;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.gallery-photos img {
	margin-left: 30px;
}

.gallery-second-part {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.column {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.download {
	width: 100%;
	height: 409px;
	color: white;
	background-image: url(/img/banner.png);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner-title {
	font-weight: 300;
	font-size: 36px;
	line-height: 145%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-top: 120px;
	margin-bottom: 70px;
}

.banner-btns button {
	height: 64px;
	padding: 22px 58px;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #000000;
	border: none;
}

.banner-btns button:last-child {
	margin-left: 90px;
}

.requests {
	margin-top: 120px;
	margin-bottom: 120px;
}

.requests_content {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.info-blocks {
	display: flex;
	justify-content: center;
	gap: 30px;

	margin-top: 60px;
}

.info-blocks h3 {
	font-weight: 300;
	font-size: 16px;
	line-height: 135%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #000000;

	margin-top: 3px;
	margin-bottom: 3px;
}

.requests-info h1 {
	font-weight: 300;
	font-size: 36px;
	line-height: 145%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #000000;

	margin-top: 0;
	margin-bottom: 0;
}

.requests-info p {
	font-weight: 300;
	font-size: 14px;
	line-height: 135%;
	color: #616161;
}

.info-restaurant,
.info-office {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.info-restaurant img,
.info-office img {
	margin-right: 25px;
}


.info-restaurant div,
.info-office div {
	display: flex;
	align-items: center;
}

.address-underlined {
	text-decoration: underline;
}

.requests-form {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 25px;
}

.name-input,
.email-input {
	width: 540px;
	padding: 13px 0;
	border: none;
	border-bottom: 0.5px solid #D0D0D0;
}

.name-input::placeholder,
.email-input::placeholder,
.request-textarea::placeholder {
	font-weight: 300;
	font-size: 14px;
	line-height: 135%;
	color: #616161;
	padding-bottom: 13px;
}

.request-textarea {
	margin-top: 35px;
	padding-top: 15px;
	padding-left: 20px;
	width: 540px;
	border: 0.5px solid #D0D0D0;
}

.requests-form button {
	margin-top: 35px;
	padding: 12px 35px;
	width: 182px;
	font-weight: 300;
	font-size: 16px;
	line-height: 135%;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #D1A954;
	border: none;
}

.instagram {
	background-color: #F9F7F7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.instagram-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
	margin-bottom: 90px;
}

.instagram-logo img {
	width: 46px;
	height: 30px;
}

.insta-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.insta-gallery img {
	max-width: 320px;
	max-height: 304px;
}

.footer {
	height: 92px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
}

@media (max-width: 1200px) {

	.header-wrapper {
		max-width: 1200px;
		justify-content: space-between;
	}

	.header-logo {
		margin: 40px;
	}

	.burger {
		margin-right: 40px;
		margin-left: 40px;
	}

	.nav-list {
		gap: 5px;
		max-width: 500px;
	}

	.nav-item {
		font-size: 10px;
	}

	.main {
		margin-top: 167px;
	}

	.about-logo {
		height: 300px;
		margin-top: 60px;
	}

	.about-description_image img {
		max-width: 750px;
		max-height: 390px;
		margin-bottom: 0;
		margin-top: 60px;
	}

	.video-button {
		top: 32%;
		left: 46%;
	}

	.about-title {
		font-size: 28px;
	}

	.description-main {
		margin-left: 20px;
		margin-right: 20px;
		padding-left: 20px;
	}

	.description-goods {
		gap: 10px;
	}

	.description-goods_item {
		max-width: 220px;
	}

	.description-goods_item span {
		font-size: 14px;
		line-height: 120%;

		margin-left: 26px;
		margin-bottom: 20px;
	}

	.gallery {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.gallery-first-part {
		flex-direction: column;
		gap: 40px;
	}

	.gallery-second-part {
		flex-direction: column;
		gap: 40px;
	}


	.requests {
		margin-top: 60px;
		margin-bottom: 60px;
		padding-left: 30px;

	}

	.requests_content {
		flex-direction: column;
		gap: 30px;
	}

	.info-blocks {
		margin-top: 40px;
	}

	.info-restaurant,
	.info-office {
		gap: 10px;
	}

	.instagram-logo {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.insta-gallery {
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.insta-gallery img {
		max-width: 300px;
		max-height: 290px;
	}
}

@media (max-width: 920px) { 

	.header-wrapper {
		max-width: 920px;
		justify-content: space-between;
	}

	.header-logo {
		margin: 20px;
		width: 120px;
		height: 64px;
	}

	.burger {
		margin-right: 20px;
		margin-left: 20px;
	}

	.nav-item {
		font-size: 10px;
	}

	.main {
		margin-top: 120px;
	}

	.slider-items img {
		width: 400px;
		height: 450px;
	}

	.about-logo {
		margin-top: 60px;
	}

	.about-description {
		height: 960px;
	}

	.about-description_content {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		margin-top: -60px;
	}

	.description-goods {
		align-items: center;
		justify-content: space-around;
	}

	.description-goods_item {
		max-width: 340px;
	}

	.requests {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.info-blocks {
		margin-top: 40px;
	}

	.requests-info h1 {
		font-size: 28px;
		line-height: 135%;
	}

	.requests-form button {
		margin-top: 20px;
	}	

	.gallery-first-part {
		gap: 20px;
	}

	.gallery-second-part .column {
		align-items: center;
		justify-content: center;
	}

	.gallery-photos {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.instagram-logo {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.footer {
		font-size: 12px;
		height: 66px;
	}
}

@media (max-width: 800px) { 
	.nav-list {
		display: none;
	}
}